<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Date of Birth</th>
    <th>Address</th>
  </tr>
  <tr>
    <td><%= @user.name %></td>
    <td><%= @user.email %></td>
    <td><%= @user.dob %></td>
    <td><%= @user.address %></td>
  </tr>
</table>
